*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.row {
    display: flex;
    justify-content: center;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    
}

.container {
    width: 70%;
    margin: 0 auto;
}

/* SFONDI */
.sezione-bianca {
    background-color: white;
    height: 450px;
    align-items: center;
    display: flex;
}

.sezione-grigia-1 {
    background-color: rgb(231, 231, 231);
    height: 500px;
    align-items: center;
    display: flex;
}

.sezione-grigia-2 {
    background-color:  rgb(231, 231, 231);
    height: 800px;
    align-items: center;
    display: flex;
}

.sezione-nera {
    background-color: rgb(23, 23, 23);
    align-items: center;
    display: flex;
}

.jumbotron {
    height: 450px;
    display: flex;
    align-items: center;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* COLONNE */
.col-10 {
    width: 10%;
    display: flex;
    margin-top: 15px;
}

.col-17 {
    width: 17%;
}

.col-25 {
    width: 25%;
    height: 25px;
    margin: 12px 0px;
}

.col-30 {
    width: 30%;
    margin-top: 100px;
    margin-bottom:50px;
}

.col-30-bot {
    width: 30%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.col-50 {
    width: 50%;
    height: 25px;
    margin: 12px 0px;
}

.col-60 {
    width: 60%;
}

.col-70-start {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
    margin-bottom: 50px;
}

.col-70-end {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.col-100 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* FOOTER */
.container-foot {
    width: 70%;
    margin: 0 auto;
    align-items: flex-end;
    display: flex;
}

footer { 
    width: 100%;
    height: 80px;
    background-color: rgb(23, 23, 23);
}

.row-foot {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
}

/* CONTENUTI */

/* CONTENUTI HEADER */

.content-bianco {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.opzione {
    font-size: 0.8em;
    padding: 8px;
}

.button-head {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
    border-radius: 2em 2em;
    font-weight: bold;
}

.content-button {
    display: flex;
    justify-content: flex-end;
}

.container-header {
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* contenuto-jumbotron */
.opening {
    color:white;
    text-align: center;
}

h1 {
    font-size: 2.2em;
    margin-top: 40px;
}

.jumbotron p {
    font-size: 0.75em;
    margin-top: 30px;
    line-height: 1.5em;
}

.download {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    border-radius: 2em 2em;
    margin-top: 20px;
}

.nero {
    background-color: black;
    border: none;
    color: white;
    margin-left: 20px;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* sezione-1 */
.immagine-start {
    width: 90%;
    display: flex;
}

.content-section {
    display: flex;
}

.sec-title {
    font-size: 2.2em;
}

.sec-p {
    font-size: 0.8em;
    font-weight: 500;
    line-height: 1.5em;
    margin-top: 20px;
}

/* sezione-2 */
.container-wave {
    display: flex;
}

.wave-up {
    opacity: 10%;
    width: 100%;
    margin-top: 50px;
}

.wave-down {
    transform: scale(-1);
    opacity: 10%;
    width: 100%;
    margin-bottom: 50px;
}
 
/* sezione-4 */
.text-center {
    text-align: center;
    display: flex;
}

.immagine-big {
    display: flex;
    width: 90%;
}

.content-center {
    display: flex;
    justify-content: center;
}

.back-scritta {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: flex;
}

/* sezione-5 */
.flag {
    width: 15%;
}

ul {
   list-style-type: none; 
}

.first {
    color: rgb(87, 110, 214);
    font-weight: 600;
    font-size: 0.8em;
}

li,.ita {
    color: white;
    font-weight: 400;
    font-size: 0.8em; 
    text-align: left;
    display: flex;
    line-height: 2em;
}

.ita {
    display: inline-block;
    line-height: 5em;
}

.content-bot {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    border-bottom: 2px solid rgb(87, 110, 214);
}

.content-start {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.content-center {
    display: flex;
    justify-content: center;
}

.start {
    display: flex;
    color: rgb(87, 110, 214);
}

.download-blue {
    display: flex;
    background-color: rgb(87, 110, 214);
    color: white;
    padding: 10px 15px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    border-radius: 2em 2em;
    margin-top: 20px;
    
}

.icons {
    color: white;
}

/* footer */
.button-end {
    background-color: rgb(87, 110, 214);
    border: none;
    color:white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
    border-radius: 2em 2em;
    font-weight: bold;
}


