*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.row {
    display: flex;
    justify-content: center;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    
}

.container {
    width: 70%;
    margin: 0 auto;
}

/* SFONDI */
.sezione-bianca {
    background-color: white;
    height: 450px;
    align-items: center;
    display: flex;
}

.sezione-grigia-1 {
    background-image: url(../img/wave.svg);
    height: 450px;
    align-items: center;
    display: flex;
}

.sezione-grigia-2 {
    background-color: grey;
    height: 550px;
    align-items: center;
    display: flex;
}

.sezione-nera {
    background-color: rgb(23, 23, 23);
    height: 450px;
    align-items: center;
    display: flex;
}

.jumbotron {
    height: 450px;
    display: flex;
    align-items: center;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* COLONNE */
.col-10 {
    width: 10%;
    background-color: pink;
    height: 25px;
    border: 1px dashed black;
}

.col-17 {
    width: 17%;
    background-color: lightseagreen;
    height: 350px;
    border: 1px dashed white;
}

.col-25 {
    width: 25%;
    height: 25px;
    margin: 12px 0px;
}

.col-30 {
    width: 30%;
    background-color: pink;
    height: 350px;
    border: 1px dashed black;
}

.col-50 {
    width: 50%;
    height: 25px;
    margin: 12px 0px;

}

.col-60 {
    width: 60%;
}

.col-70-start {
    width: 70%;
    background-color: lightblue;
    height: 350px;
    border: 1px dashed black;
    display: flex;
    justify-content: flex-start;
}

.col-70-end {
    width: 70%;
    background-color: lightblue;
    height: 350px;
    border: 1px dashed black;
    display: flex;
    justify-content: flex-end;
}

.col-100 {
    width: 100%;
    background-color: green;
    height: 450px;
    border: 1px dashed black;
}

/* FOOTER */
.container-foot {
    width: 70%;
    margin: 0 auto;
    background-color: aquamarine;
    height: 50px;
    align-items: flex-end;
    display: flex;

}

footer { 
    width: 100%;
    height: 50px;
    background-color: rgb(23, 23, 23);
}

.row-foot {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* CONTENUTI */

/* CONTENUTI HEADER */

.content-bianco {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.opzione {
    font-size: 0.8em;
    padding: 8px;
}

.button-head {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
    border-radius: 2em 2em;
    font-weight: bold;
}

.content-button {
    display: flex;
    justify-content: flex-end;
}

.container-header {
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* contenuto-jumbotron */
.opening {
    color:white;
    text-align: center;
}

h1 {
    font-size: 2.2em;
    margin-top: 40px;
}

.jumbotron p {
    font-size: 0.75em;
    margin-top: 30px;
    line-height: 1.5em;
}

.download {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 0.9em;
    border-radius: 2em 2em;
    margin-top: 20px;
}

.nero {
    background-color: black;
    border: none;
    color: white;
    margin-left: 20px;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* sezione-1 */
.immagine-start {
    width: 80%;
    display: flex;
}

.content-section {
    display: flex;
}

.sec-title {
    font-size: 2.2em;
}

.sec-p {
    font-size: 0.8em;
    font-weight: 500;
    line-height: 1.5em;
    margin-top: 20px;
}

/* sezione-2 */
.content-cloud {
    display: flex;
    justify-content: flex-end;
}

